@import "../../mixins";

.mobile-apps {
  width: 600px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__header {
    background-color: #e6ecf0;
    padding: 14px 20px;
    color: $font-color;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #e6ecf0;
  }

  &__body {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-img-andr {
      max-width: 200px;
    }

    &-img-ios {
      max-width: 200px;
    }
  }

  &__footer {
    background-color: #e6ecf0;
    border-top: 1px solid #e6ecf0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
  }
}