@import "../../mixins";

.order {
  width: 600px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__header {
    background-color: #e6ecf0;
    padding: 14px 20px;
    color: $font-color;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #e6ecf0;
  }

  &__body {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__phone {
    width: auto !important;
    display: inline-block;

    &_error {
      & .form-control {
        border-color: red !important;
      }
    }

    .arrow {
      padding: 0;
      border-bottom: none;
      display: block;
    }
  }

  &__email {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    line-height: 25px;
    height: 35px;
    width: 300px;
    outline: none;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0 10px;

    &_error {
      border-color: red;
    }
  }

  &__footer {
    background-color: #e6ecf0;
    border-top: 1px solid #e6ecf0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
  }

  &__thx {
    padding: 15px;
    font-size: 14px;
  }
}