.button {
  display: inline-block;
  color: white;
  border-radius: 70px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #3B94D9;

  &:hover {
    background-color: #1da1f2;
  }

  &[disabled] {
    &, &:hover {
      background-color: #3b94d954;
      cursor: default;
    }
  }

  &_blue {
    background-color: #3B94D9;

    &:hover {
      background-color: #1da1f2;
    }

    &[disabled] {
      &, &:hover {
        background-color: #3b94d954;
      }
    }
  }

  &_white {
    background-color: white;
    border: 1px solid #1DA1F2;
    color: #1DA1F2;

    &:hover {
      background-color: #E8F5FD;
    }
  }
}