.ui-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__text {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    line-height: 25px;
    height: 35px;
    width: 300px;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;

    &_error {
      border-color: red;
    }
  }

  &__select {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    line-height: 25px;
    height: 35px;
    width: 300px;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;

    &_error {
      border-color: red;
    }
  }

  &__textarea {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    line-height: 16px;
    height: 150px;
    width: 300px;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;

    &_error {
      border-color: red;
    }
  }

  &__switch {
    margin-right: 10px;
    background-color: #e6ecf0;

    &.on {
      background-color: #1c94e0;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      width: 300px;
    }
  }

  &__checkbox {
    display: inline-block;
    border: 1px solid #cacaca;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 10px;

    &-label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &_unchecked {
      .icon__fill {
        display: none;
      }
    }

    &_disabled {
      opacity: 0.5;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      width: 300px;
    }
  }

  &__phone {
    width: auto !important;
    display: inline-block;

    &_error {
      & .form-control {
        border-color: red !important;
      }
    }

    .arrow {
      padding: 0;
      border-bottom: none;
      display: block;
    }
  }

  &__field {
    &-wrapper {
      display: inline-block;
      margin-bottom: 10px;
      text-align: left;
    }

    &-label {
      font-weight: bold;
      font-size: 14px;
      padding: 2px 10px;
    }
  }
}