@import "../../mixins";

.picture-viewer {
  &__picture {
    cursor: pointer;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include component-style;
    min-width: 160px;
    min-height: 160px;
  }
}