@import "../../mixins";

.delivery {
  @include component-style;
  padding: 20px;
  color: $font-color;
  font-size: 13px;

  p {
    margin: 0;
  }

  .wk_header {
    font-weight: bold;
    margin-bottom: 5px;
    color: $font-color;
    font-size: 14px;
  }
}
