@import "../../mixins";

.app-container {
  margin: 0 auto;
  padding-top: 60px;
  max-width: 1060px;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__promo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 266px;
    max-width: 100%;
    background-color: white;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  &__filter-block {
    margin-right: 20px;
    flex: 0 0 230px;
    overflow: hidden;

    .ui-form__checkbox-label {
      max-width: 164px;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__logo {
    @include component-style;
    height: 164px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;

    &-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: white;
      box-sizing: border-box;
      width: 198px;
      height: 132px;
    }
  }

  &__filter {
    background-color: white;
    padding: 8px 15px;
    box-sizing: border-box;
    @include component-style;

    &-block {
      & .ui-form__field-wrapper {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
      }

      & .ui-form__checkbox-wrapper {
        width: 100%;
      }

      & .ui-form {
        margin-top: 20px;
      }
    }

    &-category {
      border-bottom: 1px solid #e6ecf0;
      text-align: left;
      color: $font-color;
      transition: all .15s ease-in-out;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
      padding: 6px;

      &_selected {
        border-left: 2px solid #1c94e0;
        color: #3B94D9;
      }

      &:hover {
        color: #3B94D9;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
