@import "../../mixins";

.gallery {
  text-align: center;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -15px;
  }

  &__picture {
    flex: 0 0 256px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    margin-bottom: 15px;
    margin-left: 15px;
    @include component-style;

    &:hover {
      cursor: pointer;
    }
  }
}
