@import "../../mixins";

.shop {
  text-align: center;

  &__products {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -15px;
  }

  &__product {
    margin-bottom: 20px;
    flex: 0 0 260px;
    position: relative;
    height: 408px;
    margin-left: 15px;

    &-wrapper {
      @include component-style;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      z-index: 1;
      transition: z-index 1s ease;

      &_expanded {
        z-index: 10;
        .shop__product-description {
          max-height: 600px;
        }
      }
    }

    &-title {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: $font-color;
      padding: 15px 25px;
      white-space: nowrap;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 260px;
      flex: 0 0 auto;
    }

    &-img {
      border-bottom: 1px solid #e6ecf0;
      border-top: 1px solid #e6ecf0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 232px;
      cursor: pointer;
      flex: 0 0 auto;
    }

    &-price {
      font-size: 15px;
      font-weight: bold;
      color: $font-color;
      text-align: center;
      padding: 10px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: flex-end;
      flex: 0 0 auto;
      width: 100%;
      box-sizing: border-box;

      &-text {
        font-size: 20px;
      }
    }

    &-description {
      padding: 10px 25px;
      border-bottom: 1px solid #e6ecf0;
      color: $font-color;
      text-align: center;
      font-size: 14px;
      flex: 1 1 auto;
      min-height: 60px;
      max-height: 60px;
      overflow: hidden;
      transition: max-height 1s ease;
      position: relative;
      cursor: pointer;
    }
  }
}
