@import "../../mixins";

.basket {
  width: 600px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__header {
    background-color: #e6ecf0;
    padding: 14px 20px;
    color: $font-color;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #e6ecf0;
  }

  &__body {
    padding: 10px 20px;
    background-color: white;
    text-align: center;
  }

  &__products {
    display: table;
    width: 100%;

    &-wrapper {
      max-height: 400px;
      overflow-y: auto;
      text-align: center;
    }

    &-row {
      display: table-row;
      font-size: 15px;

      &_heading {
        font-weight: bold;
        font-size: 13px;

        & .basket__products-cell {
          border-bottom: 1px solid #e6ecf0;
          padding-bottom: 5px;
        }
      }
    }

    &-cell {
      display: table-cell;
      vertical-align: middle;
      padding: 5px 0;
      border-bottom: 1px dotted #e6ecf0;

      &_remove {
        width: 10%;
        text-align: center;
        & > span {
          background-color: black;
          border-radius: 50%;
          position: relative;
          display: inline-block;
          width: 14px;
          height: 14px;
          overflow: hidden;
          cursor: pointer;

          &::before, &::after {
            height: 2px;
            content: '';
            position: absolute;
            width: 10px;
            top: 50%;
            left: 2px;
            margin-top: -1px;
            background: white;
          }

          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }

      &_name {
        width: 45%;
        max-width: 130px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &_price {
        width: 15%;
        text-align: right;
      }

      &_quantity {
        width: 15%;
        text-align: center;
      }

      &_total {
        width: 15%;
        text-align: right;
      }

      &-quantity {
        text-align: center;
        width: 40px;
        margin: 0 auto;

        &_top {
          background-color: #e6ecf0;
          border: 1px solid #e6ecf0;
          border-radius: 4px 4px 0 0;
          height: 18px;
          cursor: pointer;
          user-select: none;
        }

        &_middle {
          border: 1px solid #e6ecf0;
          margin: 3px auto;
          height: 18px;
        }

        &_bottom {
          background-color: #e6ecf0;
          border: 1px solid #e6ecf0;
          border-radius: 0 0 4px 4px;
          height: 18px;
          cursor: pointer;
          user-select: none;
        }
      }
    }

    &-image {
      width: 62px;
      height: 62px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 10px;
    }

    &-total {
      border-radius: 4px;
      background-color: white;
      border: 1px solid #1DA1F2;
      color: #1DA1F2;
      padding: 7px 10px 6px;
      margin-top: 10px;
      display: inline-block;
    }
  }

  &__footer {
    background-color: #e6ecf0;
    border-top: 1px solid #e6ecf0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
  }
}