@import "../../mixins";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  &__bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 46px;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: none;
  }

  &__redirect {
    margin-left: 30px;

    .button {
      margin-top: 6px;
    }
  }

  &__logo {
    width: 140px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
  }

  &__container {
    background-color: rgba(255, 255, 255, 0.9);
    height: 46px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    position: relative;

    &_bottom {
      padding: 5px 0;
      box-sizing: border-box;
      border-bottom: 0;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 46px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 8px;

    & #icon-burger {
      cursor: pointer;
    }

    &-dropdown {
      display: none;
      position: absolute;
      right: 0;
      top: 46px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background: white;

      &_expanded {
        display: block;
      }
    }
  }

  &__item {
    font-size: 1.2em;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
  }

  &__link {
    &-container {
      box-sizing: border-box;
      height: 46px;
      transition: all .15s ease-in-out;
      color: $font-color;
      padding: 0px 15px;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      white-space: nowrap;

      &_selected, &:hover {
        border-bottom: 2px solid #1c94e0;
        color: #3B94D9;
      }

      &_unselected {
        border: none;
      }
    }

    &-icon {
      display: inline-block;
    }

    &-text {
      margin-left: 3px;
      margin-top: 13px;
      display: inline-block;
    }

    &-basket {
      height: 24px;
      vertical-align: middle;
    }
  }
}
