@import "../../mixins";

.news {
  display: flex;
  align-items: flex-start;

  &__products {
    @include component-style;
    margin-left: 15px;
    padding: 15px 20px;
    flex: 0 0 222px;
    z-index: 2;

    &-title {
      border-bottom: 1px solid #e6ecf0;
      font-weight: bold;
      font-size: 14px;
      color: #454d52;
      padding-bottom: 4px;
    }
  }

  &__product {
    display: flex;
    margin-top: 5px;
    cursor: pointer;

    &-image {
      width: 60px;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
    }

    &-text-wrapper {
      margin-left: 8px;
      overflow: hidden;
      max-width: 158px;
    }

    &-title {
      font-size: 13px;
      color: #454d52;
      margin-top: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        text-decoration: underline;
      }
    }

    &-price {
      font-weight: bold;
      font-size: 14px;
      margin-top: 2px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 545px;
    text-align: center;
  }

  &__item {
    @include component-style;
    padding: 15px 20px;
    margin-bottom: 15px;
    flex: 0 1 auto;
    text-align: left;
    white-space: pre-wrap;
    position: relative;

    &-date {
      position: absolute;
      left: 105%;
      white-space: nowrap;
      color: #657786;
      font-size: 13px;
    }

    &-text {
      color: $font-color;
      margin-bottom: 10px;
      font-size: 13px;
      max-height: 184px;
      overflow: hidden;
      transition: max-height 1s ease;
      cursor: pointer;

      &_expanded {
        max-height: 1000px;
        cursor: default;
      }
    }

    &-images-container {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: stretch;
      border-top: 1px solid #e6ecf0;
      border-bottom: 1px solid #e6ecf0;
    }

    &-image {
      max-width: 100%;
      visibility: hidden;

      &-wrapper {
        display: flex;
        flex: 1;
        text-align: center;
        align-items: center;
        justify-content:center;
        margin: 2px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
      }
    }
  }
}
