@import "../../mixins";

.contacts {
  background-color: white;
  @include component-style;

  &__map {
    height: 340px;
    background-size: 20%;
  }

  &__address-block {
    padding: 15px;
  }

  &__address {
    margin-bottom: 15px;

    &_has-coords {
      cursor: pointer;
      color: #454d52;

      &:hover {
        color: #3B94D9;
      }
    }

    &-title {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 5px;
    }

    &-address {
      font-size: 13px;
    }

    &-time {
      font-size: 13px;
    }
  }
}
